#app {
  width: 100vw;
  height: 100vh;
}

.slide-btn {
  background: rgba(0, 0, 0, 0.05);
}

.slide-btn:hover {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(52, 211, 153, 0.8);
  transform: scale(1.05);
}

@media (prefers-color-scheme: dark) {
  .slide-btn {
    /* background-color: rgba(52, 211, 153, 0.1); */
    background-color: rgba(196, 181, 253, 0.1);
  }

  .slide-btn:hover {
    background-color: rgba(196, 181, 253, 0.4);
  }
}
